#Titulo
{
    text-align: center;
}
.PATIO
{
    text-align: center;
}

.horas
{
    text-align: center;
}
table{
    width: 900px;
}
th{
    width: 145px;
    
}
table, th, td {
    border:2px solid black;
    border-collapse: collapse;
  }
